<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <style>


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


:root{
    --padding-xml: 2vmax;
    --padding-min: 4vmax;
    --padding-med: 7vmax;
    --font-size: 7vmin;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a{
    color: #000;
    text-decoration: none;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(to left,#333,rgb(1, 83, 83)); */
    background-image: url(login-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.container{
    width: 800px;
    height: auto;
    /* background-color: #fff; */
    border-radius: 20px;
    background-color: #9999993f;
    backdrop-filter: blur(10px);
    overflow: hidden;
}
.left{
    padding: 0 var(--padding-min);
    color: #fff;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    /* height: 510px; */
    /* background-image: url('./img/login-bg.png'); */
    
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}
.left h1{
    margin-bottom: 10px;
}

.right{
    width: 50%;
    height: 100%;
    background-color: #fff;
    padding: var(--padding-xml) var(--padding-min);

}
.right h1{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.right input{
    border-radius: 4px;
    width: 100%;
    border: none;
    border: 1.2px solid #999;
    padding: 4px 15px;
    margin-top: 25px;
    outline: none;
}
input[type="checkbox"]{
    width: auto;
    height: auto;
    margin-right: 5px;
    cursor: pointer;
}
.r_container{
    width: 100%;
    height: auto;
    padding: 0;
}
.r_container span{
    font-size: 12px;
    white-space: nowrap;
}
.r_container input{
    accent-color: #000;
}

input[type="submit"]{
    background-color: #000;
    color: #fff;
    padding: 8px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease all;
}

input[type="submit"]:hover,button[type='submit']:hover{
    scale: 1.05;
}
input[type="submit"].google{
    background-color: #fff;
    color: #000;
    box-shadow: 2px 2px 5px grey;
}
.button-container{
    width: 100%;
    border: 2px solid red;
}
.google,.apple{
    transition: 0.3s ease all;
    width: 100%;
    padding: 8px 15px;
    border: none;
    outline: none;
    background-color: #fff;
    color: #000;
    box-shadow: 2px 2px 5px grey;
    cursor: pointer;
}
.google-icon{
    margin-right: 5px;
    color: teal;
}
.apple-icon{
    margin-right: 5px;
}
.apple{
    background-color: #000;
    color: #fff;
    margin-top: 20px;
}


.or{
    height: 35px;
    width: 100%;
    position: relative;
    padding: 0px 5px;
    margin-top: 10px;

}
.or::before{
    content: 'or';
    width: 20px;
    padding: 3px 5px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 2;
    
}
.or::after{
    content: '';
    width: 100%;
    height: 1.2px;
    display: flex;
    align-items: flex-start;
    background-color: grey;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}


@media screen and (max-width:768px){
    a{
        text-decoration: none;
        color: #fff;
    }
    .container{
        width: 80%;
        /* height: 80vh; */
        flex-direction: column;
        color: #fff;
        
    }
    .left{
        display: none;
    }
    .right{
        padding: 30px 4vmax;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    .right input{
        background-color: transparent;
        border: 1.2px solid #fff;
        border-radius: 50px;
    }
    input::placeholder{
        color: #fff;
    }
    button[type="submit"]{
        padding: 12px 0 12px 0;
        box-shadow: none;
        border-radius: 50px;
        border: none;
    }
    .or{
        display: none;
    }
    
   
}
        .error-message {
            color: red;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <div id="main" class="flex">
        <div class="container flex">
            <div class="left flex">
                <h1>Create Your Account</h1>
                <div>Share your artwork and Get projects!</div>
            </div>
            <div class="right">

        <h1>Signup</h1>
        <% if (errorMessage) { %>
            <p class="error-message"><%= errorMessage %></p> <!-- Display error message -->
        <% } %>
        <form action="/signup" method="post">
          
                <input type="text" id="name" name="name" placeholder="Username" required>
        
          
            
                <input type="password" id="password" name="password" placeholder="Password" required>
             
        
        
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required>
                <div class="r_container ">
                    <input type="checkbox" name="remember" id="remember">
                    <span>Accept Terms & Condition</span>

                </div>
             
            <input type="submit" class="submit-btn" value="Join us->">
        </form>
     <div class="login_page">
        <p>Already have an account? <a href="/login">Login</a></p>
    </div>
  </div>
</div>
</body>
</html>


